<ion-content>
  <div *ngIf="loading" class="ion-text-center" style="margin-top: 50px;">
    <ion-spinner name="crescent"></ion-spinner>
    <p>Buscando livros baseados no seu perfil...</p>
  </div>

  <div class="feed-container" *ngIf="!loading">
    <div class="book-card" *ngFor="let livro of livros">
      <div class="book-cover-container">
        <img [src]="livro.capa" class="book-cover" alt="Capa do livro">
      </div>
      
      <div class="book-info">
        <h2 class="book-title">{{ livro.titulo }}</h2>
        
        <div class="stars">
          <ion-icon name="star-outline" *ngFor="let s of [1,2,3,4,5]"></ion-icon>
        </div>
        
        <p class="book-description">
          {{ livro.descricao }}
        </p>
      </div>
    </div>
    
    <div *ngIf="livros.length === 0" class="ion-text-center">
      <p>Nenhuma recomendação encontrada para seus gêneros.</p>
    </div>
  </div>
</ion-content>
