<ion-header class="ion-no-border">
  <div class="custom-nav">
    <span class="nav-item active">Pra você</span>
    <span class="nav-item" (click)="irParaExplorar()">Explorar</span>
    <span class="nav-item" (click)="irParaPerfil()">Perfil</span>
  </div>
</ion-header>

<ion-content>
  <div class="feed-container">
    
    <div class="book-card" *ngFor="let livro of livros">
      <div class="book-cover-container">
        <img [src]="livro.capa" class="book-cover" alt="Capa do livro">
      </div>
      
      <div class="book-info">
        <h2 class="book-title">{{ livro.titulo }}</h2>
        
        <div class="stars">
          <ion-icon name="star-outline" *ngFor="let s of [1,2,3,4,5]"></ion-icon>
        </div>
        
        <p class="book-description">
          {{ livro.descricao }}
        </p>
      </div>
    </div>

  </div>
</ion-content>
