<ion-content>

  <div class="container">

    <h2>Editar Perfil</h2>

 
    <img [src]="foto" class="avatar" (click)="selecionarFoto()" />
    <input type="file" hidden (change)="onFileSelected($event)" />

   
    <ion-input placeholder="Nome" [(ngModel)]="user.nome"></ion-input>

    <ion-input placeholder="Email" [(ngModel)]="user.email"></ion-input>

    <ion-input type="password" placeholder="Senha" [(ngModel)]="user.senha"></ion-input>

    
    <ion-button expand="block" (click)="salvar()">
      Salvar Alterações
    </ion-button>

  </div>

</ion-content>