<ion-content>
  <div class="container-questionario">
    <h2 class="welcome-title">O que você gosta de ler?</h2>
    <p class="subtitle">Escolha seus 3 gêneros favoritos.</p>

    <div class="genre-grid">
      <div 
        *ngFor="let g of genres" 
        class="genre-button" 
        [class.selected]="isSelected(g)"
        (click)="toggleGenre(g)">
        {{ g }}
      </div>
    </div>

    <div class="counter-info">
      {{ form.selectedGenres.length }} de 3 selecionados
    </div>

    <ion-button 
      class="btn-finalizar" 
      expand="block" 
      (click)="submit()" 
      [disabled]="form.selectedGenres.length !== 3 || submitting">
      {{ submitting ? 'Salvando...' : 'Finalizar' }}
    </ion-button>
  </div>
</ion-content>



