<ion-content class="books-page">
  <div class="page-wrapper">
    <div class="tabs">
      <a class="tab" routerLink="/feed">Pra você</a>
      <a class="tab active" routerLink="/explore">Explorar</a>
      <a class="tab" routerLink="/profile">Perfil</a>
    </div>

    <div *ngIf="loading" class="ion-text-center">
      <ion-spinner name="crescent"></ion-spinner>
      <p>Buscando livros...</p>
    </div>

    <div class="books-list" *ngIf="!loading">
      <div class="book-card" *ngFor="let book of books">
        <img [src]="book.capa" [alt]="book.titulo" class="book-image" />

        <div class="book-info">
          <h2>{{ book.titulo }}</h2>
          <div class="stars">
            <ion-icon name="star-outline" *ngFor="let star of [1, 2, 3, 4, 5]"></ion-icon>
          </div>
          <p>{{ book.descricao }}</p>
        </div>
      </div>
    </div>
  </div>
</ion-content>
