<ion-content>

  <div class="container">

    <h2>Editar Perfil</h2>

 
    <img [src]="foto" class="avatar" (click)="selecionarFoto()" />
    <input type="file" hidden (change)="onFileSelected($event)" />

   
    <ion-input placeholder="Nome" [(ngModel)]="user.nome"></ion-input>

    <ion-input
      placeholder="Email"
      [value]="email"
      [readonly]="true"
      [disabled]="true">
    </ion-input>

    
    <ion-button expand="block" (click)="salvar()" [disabled]="salvando || !user.nome.trim()">
      {{ salvando ? 'Salvando...' : 'Salvar Alterações' }}
    </ion-button>

  </div>

</ion-content>
