<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Pag inicial
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Aqui vamos fazer os botoes de login e cadastro com card em javascript</strong>
    <p><ion-button routerLink="/feed" router-direction="forward">
  Ir para Feed
</ion-button>
</p>
  </div>
</ion-content>
